html(lang="da")
    head
        meta(charset='UTF-8')
        meta(name='robots' content='noindex')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        title TØJSTORY
        link(rel='favicon' href='favicon.ico' type='image')
        link(rel='stylesheet', href='css/base.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    body#splashpage

        script(src="bower_components/jquery/dist/jquery.min.js")
