footer
  article
    h3 Aalborg
    ul
      li Mandag-Fredag: 11-16
      li Lørdag: 11-14
      li Søndag: Lukket
  article
    h3 Aarhus
    ul
      li Mandag-Fredag: 11-16
      li Lørdag: 11-14
      li Søndag: Lukket
  article
    h3 Viborg
    ul
      li Mandag-Fredag: 11-16
      li Lørdag: 11-14
      li Søndag: Lukket
  small &copy; Tøjstory Denmark - CVR: 123456789