aside
      a(href="index.html")
        img(src="img/tslogo.png", alt="TØJSTORY LOGO")
      nav
        ul
          li 
            a(href="home.html") Hjem
          li 
            a(target="_blank" href="https://www.instagram.com/tojstory/?hl=en") Shop
          li 
            a(href="om.html") Bag Tøjstory
          li 
            a(href="kontakt.html") Kontakt
          li 
            a(href="indlevering.html") Indlevering
          li#navSocial
            a(target="_blank" href="https://www.instagram.com/tojstory/?hl=en")
              i.fa.fa-instagram
            a(target="_blank" href="https://www.facebook.com/Tojstory/")
              i.fa.fa-facebook-square